.body {
  /* top: 0; */
  /* position: absolute; */
  /* width: 2000px; */
  background: #222b31;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: DM Sans;
}

.main {
  padding: 5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main h3 {
  top: 10%;
  left: 5%;
  color: #ffffff;
  font-family: DM Sans;
  font-size: 40px;
}

.movieContainer {
  width: fit-content;
  color: #ffffff;
  display: flex;
  /* width: 100%; */
  margin-top: 10%;
  background-color: none;
  flex-wrap: wrap;
}

.movieTile {
  /* flex: 1 0 320px; */
  /* margin: 10px; */
  /* height: 30%; */
  background-color: rgb(93, 95, 97);
  /* padding: 10px; */
}

.moviePoster {
  width: 80%;
  height: 40%;
}

.moviePoster img {
  /* size: 72px; */
  height: 240px;
  width: 405px;
}
.movieInfo {
  position: absolute;
  top: 85%;
  margin: 0px 0px 0px 18px;
  width: 90%;
  /* position: absolute; */
}
.movieInfo h5 {
  float: left;
}

.movieInfo button {
  color: white;
  background-color: transparent;
  font-size: 18px;
  float: right;
  border: transparent;
}

.movieInfo button:hover {
  color: white;
  background-color: black;
  transition: 0.5s;
  border-radius: 5px;
}

.moviesubInfo {
  margin: 40px 0px 0px 18px;
  width: 100%;
}

.moviesubInfo div {
  font-weight: 600;
  font-size: 14px;
  float: left;
  padding-right: 5%;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
