#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.validationError {
  color: red
}

.bg-dark {
  background-color: blueviolet !important;
}

.btnTD {
  width: 5%;
  text-align: center;
}

img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
img {
  pointer-events: none;
}
.movie_card {
  padding: 0 !important;
  width: 15rem;
  margin: 14px;
  border-radius: 10px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}
.movie_card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.movie_info {
  color: #5e5c5c;
}

.movie_info i {
  font-size: 20px;
}
.card-title {
  width: 80%;
  height: 4rem;
}
.play_button {
  background-color: #ff3d49;
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  right: 20px;
  bottom: 111px;
  font-size: 27px;
  padding-left: 21px;
  padding-top: 16px;
  color: #ffffff;
  cursor: pointer;
}