.movielist {
    display: flex;
    width: 100%;
    margin-top: 5%;
    background-color: rgb(47, 44, 44);
    flex-wrap: wrap;
}

.moviesGrid {
    flex: 1 0 20%;
    margin: 5px;
    height: 30%;
}

.movieCard {
    width: 92.5%;
    border-radius: 10px;
}

.moviePoster {
    width: 300px;
    height: 360px;
    border-radius: 10px
}