.body {
  padding: 0;
  margin: 0;
  background: rgb(47, 44, 44);
  color: #fff;

}

.main_content {
  padding: 0 40px 20px;
}

.main_content h3{
  text-align: center;
  margin: 20px 0;
}

.container {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 350px;
  background: rgb(194, 38, 38);
  border-radius: 10px;
  padding: 0 30px;
  margin-bottom: 10px;
}