.body {
    padding: 0;
    margin: 0;
    background-image: url(/img/movie-bg-1.png);
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(47, 44, 44)
}
  .upperDashboardSection {
    text-align: left;
    width: 100%;
    height: 100vh;
    margin-bottom: 1%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .menu {
    width: 100%;
    height: 50px;
    background: rgb(67, 138, 67);
    position: absolute;
    top:0%;  }
    
  .upperDashboardSection .menu .items {
    width: 80%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
  }
  .upperDashboardSection .menu .items ul {
    margin: 10px;
  }
  .upperDashboardSection .menu .items ul li {
    list-style: none;
    display: inline-block;
    margin:5px 5px;
    margin-left: 15px;
  }
  .upperDashboardSection .menu .items ul li a {
    padding: 6px 6px 6px 6px;
    background-color:rgb(91, 158, 91);
    border: 1px solid rgb(141, 185, 141);
    color: rgb(5, 39, 5);;
    text-decoration: none;
    transition: 0.4s;
    transition-delay: 0.2s;
    border-radius: 3px;
  }
  
  .upperDashboardSection .menu .items ul li a :link :hover{
    background-color:rgb(245, 248, 245);
    color: black;
    text-decoration: none;
  }
  
  .upperDashboardSection .menu .items ul li a :link :active{
    background-color: transparent;
    color: black;
    text-decoration: underline;
  
  }

  .upperDashboardSection .menu .items ul .circle {
    width: 10px;
    height: 5px;
    padding: 5px 10px;
    border-radius: 45%;
    color: rgb(37, 75, 37);
    background: #a9f2ff;
  }
  .upperDashboardSection .box {
    /* margin-left: 40%; */
    position: absolute;
    border-radius: 7px;
    top:15%;
    margin-right: 10px;
    width: 300px;
    color: #a9f2ff;
    background: rgb(67, 138, 67);
  }
  .upperDashboardSection .box .image {
    text-align: center;
    padding-top: 10px;
    border-radius: 25px;
    width: 100px;
    height: 20px;

  }
  .upperDashboardSection .box .image img {
      
    width: 100px;
    float: left;
    border-radius: 7px;

  }
  .upperDashboardSection .box .detail {
    background: descClr;
    margin: 10px;
  }
  .upperDashboardSection .box .detail .title {
    font-size: 1.5rem;
    color: rgb(30, 59, 30);
  }
  .upperDashboardSection .box .detail .desc {
    font-size: 1.0rem;
    color: #a9f2ff;
  }
  .upperDashboardSection .box .setquan {
    padding: 10px 0;
    background: rgb(33, 66, 33);
    display: flex;
    flex-basis: 100%;
  }
  .upperDashboardSection .box .setquan .sQuantity {
    width: 70%;
    margin-left: 10%;
    font-size: 1rem;
    color: rgb(29, 58, 29);
  }
  .upperDashboardSection .box .setquan .btns {
    width: 30%;
  }
  .upperDashboardSection .box .setquan .btns .btn {
    background: rgb(67, 138, 67);
    color: #a9f2ff;
    border: none;
    font-size: 2rem;
    color: #a9f2ff;
    margin-right: 5px;
    padding: 0 10px;
  }
  .upperDashboardSection .box .price .coupon input {
    background: rgb(67, 138, 67);
    border: none;
    font-size: 0.8rem;
    color: #a9f2ff;
    padding: 4px 0;
  }
  .upperDashboardSection .box .price .coupon input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #a9f2ff;
    opacity: 0.5;
    /* Firefox */
  }
  .upperDashboardSection .box .add .btn {
    margin: 10px;
    background: rgb(41, 85, 41);
    color: #a9f2ff;
    border: none;
    font-size: 1rem;
    color: #a9f2ff;
    margin-right: 5px;
    padding: 0 10px;
    padding: 10px;
  }
  .Cart .box .setbg {
    background: rgb(39, 78, 39);
  }
 

  .leftbox {
    float:left; 
    background:rgb(97, 75, 104);
    width:30%;
    height:580px;
    border-color: rgb(97, 75, 104);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 5px;
    background: transparent;
    overflow-y: scroll;
}
.middlebox{
    float:left; 
    background:rgb(72, 114, 72);
    width:30%;
    height:580px;
    margin-left: 5%; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 5px;
    overflow-y: scroll;



}
.rightbox{
    float:right;
    background:rgb(79, 79, 107);
    width:30%;
    height:580px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 5px;
    overflow-y: scroll;


}
  /*# sourceMappingURL=Cart.css.map */